SET	5
PUSH
CALL	0
LABEL	1
SET	-3
LOADR
PUSH
POP
WRITE
PUSH
RETURN
LABEL	2
SET	-3
LOADR
PUSH
SET	0
PUSH
POP
SWAP
POP
EQUAL
PUSH
JUMPF	3
SET	1
PUSH
POP
RETURN
LABEL	3
SET	-3
LOADR
PUSH
SET	-3
LOADR
PUSH
SET	1
PUSH
POP
SWAP
POP
SUB
PUSH
CALL	2
POP
SWAP
POP
MUL
PUSH
POP
RETURN
LABEL	0
ALLOC	1
SET	5
PUSH
POP
SWAP
SET	0
SWAP
SAVER
SET	0
LOADR
PUSH
CALL	2
POP
WRITE
PUSH
HALT
